.todos-container {
  width: 768px;
  background-color: #fefefe;
  margin: auto;
  filter: drop-shadow(0 0 6.5px rgba(11, 12, 12, 0.15));
}

.todos-input {
  display: flex;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #e6e6e6;
}

.drop-list {
  display: flex;
  width: 70px;
  height: 50px;
  margin: auto;
  background-image: url(../image/drop.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.input {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  border: none;
}

.input::placeholder {

}

.input:focus-visible {
  border: none;
  outline-offset: none;
}

.list {

}

.todo-list {

}

.todo-item {
  list-style: none;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #e6e6e6;
}

.check-item {

}

.text-item {

}

.todos-footer {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

.todos-items {

}